.slimming-example {
  background-color: var(--bg-gray);
  padding-top: 27px;
  padding-bottom: 31px;
  &__wrapper {
    padding: 0 20px;
  }
  &__data {
    display: grid;
    row-gap: 20px;
  }
  &__slimming-parameters {
    display: flex;
    justify-content: space-between;
  }
  &__expenses {
    @include oswald-normal(14px, 20px);
    text-transform: uppercase;
    text-align: center;
  }
}
