$mw: 320px;
$m-indent: (2 * 20px);
$mw-no-indent: ($mw - $m-indent);

$tw: 768px;
$t-indent: (2 * 30px);
$tw-no-indent: ($tw - $t-indent);

$dw: 1440px;
$d-indent: (2 * 110px);
$dw-no-indent: ($tw - $t-indent);
